
/* Common properties */

:root {
    --white: #fff;
    --black: #1E1E1E;
    --blackLight: #181818;
    --blue: #78ACD5;
    --red: #FF2460;
    --yellow: #FCF302;
    
    --hex-side: 15px;
}

body {
    font-family: 'Product Sans';
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    line-height: 19px;
    background-color: var(--black, #1E1E1E);
    margin: 0;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 856px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header__inner {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.header__title {
    font-weight: 700;
    color: var(--blue);
    font-size: 24px;
    line-height: 29px;
    margin: 20.5px 0;
}

.settings__button {
    display: block;
    text-decoration: none;
    position: absolute;
    right: 17.83px;
    top: 50%;
    transform: translateY(-50%);
}

.settings__button:hover .settingsSvg {
    fill: var(--white);
    transition: 0.1s;
}

.settingsSvg {
    display: block;
    width: 18.34px;
    height: 20px;
    fill: var(--blue);
}


/* dateSort */

.dateSort__inner {
    margin: 0 25px;
}

.dateSort__button {
    color: inherit;
    border: 0;
    border-radius: 15px;

    cursor: pointer;
    background: none;
    background-color: var(--blackLight);
    padding: 5px 15px;
    margin: 20px 10px 20px 0;
}

.dateSort__button:last-child {
    margin-right: 0;
}

.dateSort__button.active {
    background-color: var(--blue);
}

.dateSort__button:hover {
    background-color: var(--blue);
    transition: 0.1s;
}

.dateSort__button:hover .button__text {
    color: var(--black);
    transition: 0.1s;
}

.button__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.56px;
    text-transform: uppercase;
}

.button__text.active {
    color: var(--black);
}



/* Fonts */

/* Product Sans regular */
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ProductSans-Regular.woff") format("woff"); 
    font-display: swap;
    }

/* Product Sans regular */
@font-face {
    font-family: 'Product Sans';
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/Product-Sans-Bold.woff") format("woff");
    font-display: swap; 
    }


